@page "/"

<div>
    <h3>Película</h3>
    <p>Título: <b>@WakandaForever.Titulo</b></p>
    <p>Fecha lanzamiento: <b>@WakandaForever.FechaLanzamiento.ToString("dd MMM yyyy")</b></p>
</div>

@code{
    string nombre = "Guilhermo";

    Pelicula WakandaForever {get { return ObternerPelicula(); }}

    Pelicula ObternerPelicula()
    {
        return new Pelicula
            {
                Titulo = "Wakanda Forever",
                FechaLanzamiento = new DateTime(2022, 11, 11)
            };
    }

    void ManejarClickBoton()
    {
        Console.WriteLine("Me han clickeado desde una función!");
    }
}